.footer {
  text-align: center;
  margin-top: -20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 40px;
  background: rgba(95, 146, 28, 0.567); 
  backdrop-filter: blur(7px); 
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px; 
}


.footer-text {
  font-size: 16px;
  line-height: 1.6;
  color: #B38E58;
  margin-bottom: 25px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.contact-info {
  font-size: 14px;
  color: #B38E58;
  line-height: 1.8;
}

.location {
  font-weight: bold;
  margin-bottom: 5px;
}

.phone, .email {
  margin: 3px 0;
}

