.card {
  display: flex;
  gap: 20px;
  background-color: #314b10;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  z-index: -2;
  position: relative;
}

.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.star {
  position: absolute;
  top: 35px;
  right: 45px;
  cursor: pointer;
  z-index: 10;
  color: #fff;
  opacity: 0.5;
}
.star:hover {
  transform: scale(1.1);
}
.stats {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  font-weight: 500;
}
