body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.appContainer {
  padding-top: 90px;
  min-height: 100vh;
  background-image: url('./mainfoto.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.textContainer {
  position: absolute;
  top: 112px;
  right: 0;
  bottom: 0;
  width: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 60px;
  box-sizing: border-box;
}

.textMain {
  color: #314b10;
  text-align: right;
  max-width: 90%;
  line-height: 1.8;
  font-size: 40px;
  font-weight: 700;
}
.greenSection {
  position: relative;
  background: linear-gradient(to bottom, #314b10 0%, #314b10 100%);
  color: white;
  padding-top: 150px;
  padding-bottom: 120px;
  margin-top: -30px;
  clip-path: ellipse(100% 90% at 60% 60%);
}

.curve {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 160px;
  background: #314b10;
  border-top-left-radius: 100% 80px;
  border-top-right-radius: 100% 80px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  position: relative;
  z-index: 2;
}
